/* COLORS
  Dark Red: #550C18
  Light Green: #C3D898
  Dark Green: #7EA16B
  Light Blue: #3B5053
  Dark Blue: #1C3144
*/

* {
  text-align: center;
}

html {
  background-color: #7EA16B;
}

.navbar {
  text-align: center;
  padding: 10%;
  background-color: #550C18;
}

body {
  font-family: Georgia;
}

section {
  padding: 2%;
  max-width: 800px;
  margin: 2% auto;
  background-color: #C3D898;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}