html {
  background-color: #7EA16B;
}

nav {
  background-color: #1C3144;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* position: fixed; */
  top: 0;
  font-size: x-large;
}

nav a {
  float: center;
  display: block;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  color: #c2d9dd;
  padding: 1%;
}

nav a:hover {
  background-color: #122433;
}

nav a.active {
  color: #e84e67;
  background-color: #091826;
}

a {
  color: #4e858e;
}

a:hover {
  color: #62a3ad;
}

body {
  font-family: Georgia;
  margin-bottom: 2%;
}

ul, ol {
  text-align: left;
}

section {
  padding: 2%;
  max-width: 800px;
  margin: 2% auto;
  background-color: #C3D898;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

audio {
  z-index: -1;
}

.subheading {
  font-weight: bold;
}

.resume ul {
  list-style-type: none;
}

@font-face {
  font-family: "MondayFeelings";
  src: url(css/fonts/mondayfeelings.ttf) format(truetype);
}

.recipe {
  font-family: "MondayFeelings";
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #1C3144;
  width: 25%;
  padding: 1%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
}

#map {
  height: 650px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  section {
    background-color: #c2d9dd;
    color: #091826;
  }
  nav {
    font-size: large;
    font-family: monospace;
  }
  html {
    background-color: #4e858e;
  }
}

@media screen and (max-width: 600px) {
  section {
    background-color: #091826;
    color: white;
  }
  nav {
    font-size: medium;
    font-family: cursive;
  }
  html {
    background-color: #C3D898;
  }
}
